body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.background {
    background-image:url('CHURCH.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 25, 45, 0.75);
    backdrop-filter: blur(3px);
}

.container {
    width: 420px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

h1 {
    font-size: 28px;
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.forgot {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 15px;
}

.forgot a {
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}


label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

button:hover {
    background: #45a049;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.google-login img {
    width: 22px;
}

.google-login:hover {
    background: #f5f5f5;
}

.signup {
    text-align: center;
}

.signup a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.back a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
}
