* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #1b1b1b;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background 0.4s ease, box-shadow 0.4s ease;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logobg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo h1 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    position: relative;
    left: 30px;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #a9c9ff;
    transition: 0.3s ease;
}

.menu a:hover {
    color: #a9c9ff;
}

.menu a:hover::after,
.menu a.active::after {
    color: #a9c9ff;
    width: 100%;
}

.menu a.active {
    color: #a9c9ff;
}

.login-buttons .login, 
.login-buttons .signup {
    display: inline-block;
    padding: 10px 25px;
    border: 10px;
    border-radius: 30px;
    font-size: 17px;
    text-decoration: none;
    background: #033e96;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.login:hover, .signup:hover {
    background: #89a3cf;
    color: black;
    box-shadow: 0 0 20px rgba(169, 201, 255, 0.7);
}

.details {
    background-image:url('Choir.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 25, 45, 0.75);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.details .quote {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 0 20px;
    margin-top: 120px;
}

.details .quote h2 {
    font-size: 45px;
    font-weight: 800;
    color: #a9c9ff;
    text-shadow: 0 0 20px rgba(35, 44, 140, 0.6);
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    animation: fadeSlideUp 1.2s ease forwards;
}

.details .quote p {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    letter-spacing: 0.8px;
    margin-top: 5px;
    opacity: 0;
    animation: fadeSlideUp 1.5s ease forwards;
    animation-delay: 0.3s;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 70px;
}

.card {
    width: 280px;
    padding: 35px 25px;
    border-radius: 20px;
    background: rgba(10, 25, 70, 0.6);
    backdrop-filter: blur(100px);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);    
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transform: translateY(20px);
    opacity: 0;
    animation: fadeSlideUp 1s ease forwards;
    z-index: 2;
}

.card h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 0 0 8px rgba(255,255,255,0.3);
}

.card p {
    color: #f0f0f0;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 15px;
    opacity: 0.9;
    max-height: 50px;
    margin-bottom: 40px;
}

.btn-register {
    display: inline-block;
    padding: 10px 25px;
    border: 10px;
    border-radius: 30px;
    font-size: 17px;
    text-decoration: none;
    background: #033e96;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.btn-register:hover {
    background: #89a3cf;
    color: black;
    box-shadow: 0 0 20px rgba(169, 201, 255, 0.7);
}

.contacts {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 170px;
}

.contacts .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.email-icon {
    width: 50px;
}

.contacts .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.phone-icon {
    width: 50px;
}

.contacts .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.location a {
    text-decoration: none;
    color: aqua;
}

.phone-icon {
    width: 50px;
}

.contacts .bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bank-icon {
    width: 50px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.social-media-icons {
    width: 40px;
    cursor: pointer;
}

.social-media-icons:hover {
    filter: brightness(1.5) saturate(120%) invert(57%) sepia(22%) saturate(351%) hue-rotate(188deg) brightness(1) contrast(100%);
    transform: scale(1.1);
}



footer {
    background: #111827;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .navbar .quote{
        padding: 15px 25px;
    }

    .details {
        font-size: 32px;
    }
}
